Backend/pfgenv/*
.vscode
.funcignore
host.json
local.settings.json
package.json
package-lock.json
*.pyc
# *.json
*.pdf
unit_test/*
*.log
*.xlsx
crud-operations/app/testpdf
crud-operations/.vscode/*

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
# sadksa
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
venv
MailListener/node_modules/*
.venv
.myvenv
.venv8
venv8
myvenv
myenv
venv311

# ENV FILE
.env
